# CMake build directories
build/
cmake-build-*/
CMakeFiles/
CMakeCache.txt

# Compiled objects / binaries
*.o
*.obj
*.a
*.lib
*.so
*.dylib
*.dll
*.exe

# IDEs
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
